body{
    margin: 0px;
}

.wrapper{
    margin: 0px;
    display: flex;
    flex: wrap;
    flex-direction: row;
    height: 100vh;
}

.left-wrapper{
    margin: 0px;
    background-color: black;
    width: 50%;
}

.right-wrapper{
    margin: 0px;
    background-color: #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 50%;
}

.soc-med-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 4rem;
}

.med{
    border:  white solid 3px;
    width: 30px;
    height: 30px;
    margin: 5px;

}

@media screen and (max-width: 992px) {
   .wrapper{
       flex-direction: column  !important;
       height: auto impor !important;
   } 
  }