body{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    margin: 0px;
    display: flex;
    flex: wrap;
    flex-direction: row;
    height: 100vh;
}

.left-wrapper{
    margin: 0px;
    background:url('/assets/images/IMG_1358.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.image{
    object-fit: cover;
}


.right-wrapper{
    background: linear-gradient(#222,rgb(138, 138, 138));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 50%;
    
}

.soc-med-wrapper{
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: center;
    padding: 20px 10px;
}

.med{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: 5px;
    text-decoration: none;
}

.med:hover{
    background-color: rgba(255, 255, 255, 0.329);
}

@media screen and (max-width: 992px) {
   .wrapper{
       flex-direction: column  !important;
   } 
    .left-wrapper{
       height: 60% !important;
       width: 100% !important;
   }
   .right-wrapper{
       height: auto;
       width: 100% !important;
   }
  }


  h1{
        margin-bottom: 20px;
        font-size: 50px;
        padding: 5px;
  }
  p{
      margin-bottom: 5px;
      font-size: 16px;
      padding:0px 30px;
  }

  .preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
  }